<div class="content">
  <div class="banner">
    <p>Un accompagnement pour votre nutrition et votre bien-être</p>
    <span>Recevez un plan personnalisé dès maintenant et entamez
       votre chemin vers une vie plus saine et épanouissante.</span>
  </div>
  <div class="image">
    <img src="assets/image/—Pngtree—avocado_2100607.png" class="rounded" alt="...">

  </div>
  <div class=" design1">
  </div>
  <div class=" design2">
  </div>
  <div class=" design3">

  </div>


</div>
<div class="content2">
  <h2>
    Une application innovante qui
    simplifie l'amélioration de votre alimentation
     en vous permettant de communiquer avec des specialistes et
    prendre un rendez-vous </h2>
    <div class="row1">

    <div class="card1" style="width: 23rem;">
      <img src="assets/image/consulter.jpg"  alt="..." class="imag">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
       <button class="btn1">Consulter Poids</button>
      </div>
    </div>

    <div class="card1" style="width: 23rem;">
      <img src="assets/image/rendezvous.webp"  alt="..." class="imag">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
       <button class="btn1">Rendez-vous</button>
      </div>
    </div>

    <div class="card1" style="width: 23rem;">
      <img src="assets/image/chat.jpg"  alt="..." class="imag">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
       <button class="btn1">Communiquer</button>
      </div>
    </div>

  </div>
</div>


