
<header>
  <label for="logo" class="logo"><span>HM</span>Helath<span style="color: orangered;">Care</span></label>

  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
    <li>Rendez-vous</li>
    <li>Services</li>
    <li>Health Education</li>
    <li>Sign in</li>
    <li>Sign up</li>

  </ul>

</header>


<script>
  window.addEventListener("scroll", function() {
    var header = document.querySelector("header");
    header.classList.toggle("Sticky", window.scrollY > 0);
  });
</script>

