<div class="top-header"><span></span></div>
<header [ngClass]="{ sticky: isSticky }">
  <label for="logo" class="logo"
    ><span>HM</span>Helath<span style="color: orangered">Care</span></label
  >

  <ul [ngClass]="{ active: isMenuOpen }">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
    <li>Rendez-vous</li>
    <li>Services</li>
    <li>Health Education</li>
    <li>Sign in</li>
    <li>Sign up</li>
  </ul>
  <div
    class="menu-btn"
    (click)="toggleMenu()"
    [ngClass]="{ active: isMenuOpen }"
  >
    ≡
  </div>
</header>

<!--
<script>

  $(document).ready(function(){
    $(window).scroll(function(){
      if(this.scrollY > 20){
        $('header').addClass("Sticky");

      }
      else{
        $('header').removeClass("Sticky");
      }
    })
  })
</script>
-->
