<section class="imc">
  <h2>CALCULEZ VOTRE INDICE DE MASSE CORPOREL (IMC)</h2>
  <div class="defIMC">
    <p>L'Indice de Masse Corporelle <span style="color: #f8d54f;">(IMC)</span>
      est l’indice statistique le plus couramment utilisé
      et le seul à être validé par l'Organisation Mondiale de
      la Santé pour faire une évaluation de la corpulence à partir
       de la taille et du poids. Calculez votre IMC et le résultat
        déterminera dans quelle catégorie vous vous trouvez.</p>

  </div>

</section>
 <div class="inputsIMC">
  <input type="number" placeholder="ex:60" name="" id="">
  <input type="number" placeholder="ex:165"  name="" id="">
  <button>Calculer</button>
  </div>

